#panorama {
  min-height: 100%;
  width: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  background-color: #074F82;
}

.custom-hotspot {
  height: 50px;
  width: 50px;
  border: 3px solid #f00;
}

div.custom-tooltip span {
  visibility: hidden;
  position: absolute;
  border-radius: 3px;
  background-color: #fff;
  color: #000;
  text-align: center;
  max-width: 200px;
  padding: 5px 10px;
  margin-left: -220px;
  cursor: default;
}

div.custom-tooltip:hover span {
  visibility: visible;
}

div.custom-tooltip:hover span:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
  bottom: -20px;
  left: -10px;
  margin: 0 50%;
}

div.embed-youtube {
    width: 100%;
    height: 0px;
    position: relative;
    padding-bottom: 56.25%;
}

iframe.embed {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

#rightSidepanelClose {
  padding: 15px;
  background-color: #BFCDD9;
  display: inline-block;
}

#leftSidepanelClose {
  padding: 15px;
  background-color: #BFCDD9;
   position: absolute;
  right: 0;
}

#modalClose {
  padding: 15px;
  background-color: #BFCDD9;
  position: absolute;
  right: 0;
}

.sidepanel {
  border: 2px solid #000;
  background-color: #FFF;
  overflow-y: scroll;
  position: absolute;
  z-index: 1000;
}

#rightSidepanel {
  width: 0%;
  height: 100%;
  right: 0;
  transition: width 0.25s linear;
}

#rightSidepanel.show-contentContainer {
  transition: width 0.25s linear;
  width: 40%;
}

#leftSidepanel {
  width: 0%;
  height: 100%;
  left: 0;
  transition: width 0.25s linear;
}

#leftSidepanel.show-contentContainer {
  transition: width 0.25s linear;
  width: 40%;
}

#modal {
    background-color: #074F82;
    overflow-y: scroll;
    position: absolute;
    z-index: 1000;
    width: 0%;
    height: 80%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#modal.show-contentContainer {
  border: 2px solid #000;
  width: 80%;
}

.content {
    border-left: 6px solid #ffcb00;
    border-right: 6px solid #ffcb00;
    display: none;
}

.content.show-content {
  display: block;
}

.content-centered {
    margin: auto;
    width: 75%;
}

/*Nature Asset Styling, ES, 4/17/2020*/
.windowIntro {
  text-align: center;
  color: white;
}

.birdContainer {
  width: 100%;
  margin: 0px auto 10px;
  background-color: #ffcb00;

}

.birdImages {
  width: 16%;
  padding: 10px 10px 10px 10px;
}

.natureContainer {
  background-color: white;
  width: 80%;
  margin: 20px auto;
}

.natureImages {
  background-color: white;
  display: block;
  width: 95%;
  margin: auto;
  padding-top: 15px;
}


/*Art Gallery Styling, ES, 4/17/2020*/
#artGallery {
  color: white;
}

.artIntro {
  text-align: center;
}

.artLink {
  color: #ffcb00;
}

.carousel {
  border: 2px sold black;
  position: relative;
  height: 350px;
  width: 80%;
  margin: 0 auto;
}

.carousel_images {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel_track-container {
  background: white;
  border: 16px solid black;
  padding: 10px;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.carousel_track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 250ms ease-in;
}

.carousel_slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel_button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
}

#buttonLeft {
  left: -55px;
}

#buttonRight {
  right: -55px;
}

.carousel_button img {
  width: 40px;
}

.carousel_nav {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.carousel_indicator {
  border: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: rgba(0,0,0,.3);
  margin: 0 12px;
}

.carousel_indicator.current-slide {
  background: rgba(0,0,0,.75);
}

.is-hidden {
  display: none;
}

/*Library & The Quarry Styling, ES, 4/22/20*/
#libraryResources {
  text-align: center;
}

.libraryImage {
  display: block;
  width: 100%;
  margin: auto;
}

.libraryLink {
  color: #074F82;
}

/* Historical Photographs Styling, ES, 4/22/20*/
#historicalAssets {
  color: white;
  text-align: center;
}

.historicalIntro {
  background-color: #06385c;
  color: white;
  padding: 12px;
}

.historicalLine {
  border: none;
  border-top: 8px dotted #ffcb00;
}

.historicalImageContainer {
  background-color: white;
  width: 80%;
  margin: 20px auto;
}

.historicalImages {
  background-color: white;
  display: block;
  width: 100%;
  margin: auto;
  padding: 15px 15px 0px;
}

/*Fireplace Styling, ES, 4/22/20*/
.fireplaceIntro {
  color: white;
  padding: 12px;
  text-align: center;
}

.fireplaceVideo {
  display: block;
  width: 80%;
  margin: auto;
}
